:export {
  lightred: $lightred;
  medred: $medred;
  darkred: $darkred;
  //
  lightgreen: $lightgreen;
  medgreen: $medgreen;
  darkgreen: $darkgreen;
  //
  lightblue: $lightblue;
  medblue: $medblue;
  darkblue: $darkblue;
  //
  lightyellow: $lightyellow;
  medyellow: $medyellow;
  darkyellow: $darkyellow;
  //
  lightorange: $lightorange;
  medorange: $medorange;
  darkorange: $darkorange;
  //
  lightpurple: $lightpurple;
  medpurple: $medpurple;
  darkpurple: $darkpurple;
  //
  lightwhite: $lightwhite;
  medwhite: $medwhite;
  darkwhite: $darkwhite;
  //
  lightbrown: $lightbrown;
  medbrown: $medbrown;
  darkbrown: $darkbrown;
  //
  lightgrey: $lightgrey;
  medgrey: $medgrey;
  darkgrey: $darkgrey;
  //
  lightblack: $lightblack;
  medblack: $medblack;
  darkblack: $darkblack;
  
}