//
// SIZES!
//
//$mapFontSize: 1vmax;
$mapIconWidth: 7em;
$mapIconHeight: 7em;
$mapIconWidthBig: 12em;
$mapIconHeightBig: 12em;


$cube-edge: 1em;
$half-edge: .5em;

$iconSmall: 50px;
$iconReg: 100px;
$iconBig: 10em;


//
// COLORS!!
//

$markerBlue: #2196f399;
$markerBlueFaded: #2196f322;

$yellowFaded: #F3F9A722;

$lightred: #ED213A;
$medred: #bf272c;
$darkred: #93291E;
$darkredFaded: #93291E99;
//
$lightgreen: #a8e063;
$medgreen: #80c64a;
$darkgreen: #56ab2f;
//
$lightblue: #00B4DB;
$medblue: #009bc5;
$darkblue: #0083B0;
$darkblueFaded: #0083B088;
//
$lightyellow: #F3F9A7;
$medyellow: #dfdf71;
$darkyellow: #CAC531;
//
$lightorange: #FFD200;
$medorange: #fbb513;
$darkorange: #F7971E;
//
$lightpurple: #ffc0cb;
$medpurple: #c267a7;
$darkpurple: #800080;
//
$lightwhite: #ffffff;
$medwhite: #f5f4f3;
$darkwhite: #ECE9E6;
//
$lightbrown: #B79891;
$medbrown: #a5857d;
$darkbrown: #94716B;
//
$lightgrey: #d7d2cc;
$medgrey: #858b90;
$darkgrey: #304352;
//
$lightblack: #2C5364;
$medblack: #203A43;
$darkblack: #0F2027;
//


